            body{
                background-color: rgb(12, 11, 11);
            }
            .header{
                display: flex;
                flex-direction: row;
                height: 55px;
                justify-content: space-between;
            }
            .left-header{
                background-color: blue;
                width: 170px;
            }
            .mid-header{
                background-color: burlywood;
                flex: 1;
                margin-left: 130px;
                margin-right: 100px;
                max-width: 500px;
            }
            .right-header{
                background-color: blueviolet;
                width: 200px;
            }
            .search-bar{
                font-size: large;
                border:none;
                border-radius: 90px;
                box-shadow: 0px 0px 4px rgb(253, 249, 249);
                padding-left: 10px;
            }
            .vid-grid{
                display: grid;
                gap: 13px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            .vid-prev:hover{
                background-color: rgb(76, 100, 77);
                border-radius: 9px;
                transition: background-color 0.3s;
            }
            .vid-prev{
                width: 100%;
                color: white;
                padding: 5px;
                margin-left: 10px;
                margin-right: 10px;
            }
            .vid-info{
                display: flex;
                align-items: flex-start;
            }
            .thumb{
                width: 100% ;
                border-radius: 5px;
                padding-bottom: 7px;
            }
            
        
            .pfp{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin-right: 10px; 
            }
            .vid-title{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                margin : 0px;
                color: white;  
                line-height: 20px;
                
            }
            .creator{
                color: rgb(201, 179, 179);
                font-family: Arial, Helvetica, sans-serif;
                padding-bottom: 0px;
                margin: 0px;
                padding-top: 9px;
            }
            .views{
                color: rgb(201, 179, 179);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                margin-top: 6px;
            }
             @media (max-width: 800px) {
            .vid-grid {
                grid-template-columns: 1fr 1fr; 
            }   
            }
            @media (min-width: 800px){
            .vid-grid{
                grid-template-columns: 1fr 1fr 1fr;
            }
            }